modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BK0NIf3HwbuZCAnBkNM5UWB-c5yAW2KCtGTRDidqDX-cmwKKtV5iADID4jQaOYNQduzE86N5tRhXtwknw1aNntA"
VAPID_PRIVATE_KEY = "nwRXJdCcOy94MnxTSoDUYfOk-t9FgOljWIGZRuXO-bU"
VAPID_SUBJECT = "mailto:admin@setspace.app"
